body {
    font-family: Arial, Helvetica, sans-serif;
}

/* All elements with class "highlite" */
.highlite {
    background-color: greenyellow;
}

p.highlite {
    font-style: italic;
}

.highlite.mainpoint {
    color: red;
}